
<%- include('globales/cabecera.ejs') %>

<div class="menu">
    <p class="menu_titulo">Jugadores</p>
<form action="/Jugadores" method="POST" class="form_resul">
    <input type="number" name="Id" value="" placeholder="ID">
    <input type="text" name="Nombre" value="Nombre" placeholder="Nombre" class="GC">
    <input type="text" name="Curp" value="Curp" placeholder="Curp">
    <input type="text" name="Foto" Value="Foto" placeholder="Foto">   
       <button>Enviar</button>
</form>


</div>