
<%- include('globales/cabecera.ejs') %>

<div class="menu">
    <p class="menu_titulo">Jugadores</p>
<form action="/Jugadores" method="POST" class="form_resul">
    <input type="number" name="Id" value="<%- Id_nuevo %>" placeholder="<%- Id_nuevo %>">
    <input type="text" name="Nombre" value="" placeholder="Nombre" class="GC">
    <input type="text" name="Curp" value="" placeholder="Curp">
       <button>Enviar</button>
</form>

</div>

