<p>vista de jugadores</p>

<input type="text" id="buscador">

<% for(var i=0 ; i < tabla_jugadores.length; i++) { %>
    
   <p><%- tabla_jugadores[i].ID_FB %> <%- tabla_jugadores[i].Nombres %> <button>delete</button></p> 

    <% } %>

    


    <script src="/javascripts/jugadores-img.js"></script>


    
