
<%- include('globales/cabecera.ejs') %>

<p>holi</p>

<form action="" method="POST">
    <input type="number" name="Jornada" value="" placeholder="Jornada">
   
     <input type="date" name="Fecha" value="" placeholder="Fecha">
 
       <br>
       <br>
    <label for="Equipo">Equipo1</label>
       <input type="text" name="Equipo" value="" placeholder="">
       <input type="number" name="GF" value="" placeholder="GF" class="col-md-1">
 
       <input type="number" name="Puntos" value="" placeholder="pl" class="col-md-1">
       <input type="number" name="Puntos_2" value="" placeholder="pv" class="col-md-1">
 
 
       <input type="text" name="GC" value="" placeholder="GC" class="col-md-1">
       <input type="text" name="Equipo_2" value="" placeholder="Equipo_2">
       <label for="Equipo_2">Equipo2</label>
 
       <br>
       
     </div>
 
             <!-- Fin jugador_1 -->
 
       
 
 
 <!-- Inicio columna Equipo_2 -->
 
        
 
       
       <button>Enviar</button>
       </form>