<form action="/new" method="POST" class="form_resul">
      
    <label>liga</label>
    <input type="text" name="liga" value="<%-  %>" placeholder="<%-  %>">

    <div class="for_secc">
        <label>Categoria</label>

      <input type="text" name="Categoria" value="<%-  %>" placeholder="" class="ID">
     </div>

     <div class="for_secc">
        <label>Torneo</label>

      <input type="text" name="Torneo" value="<%-  %>" placeholder="" class="ID">
     </div>

    
       <button>Enviar</button>

      

    </form>